@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Montserrat:wght@600&display=swap');

.montserrat-font {
    font-family: "Montserrat", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.main-font {
    font-family: "Climate Crisis", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "YEAR" 1979;
}