@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Montserrat:wght@600&display=swap');

.montserrat-font {
    font-family: "Montserrat", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.jersey-font {
    font-family: "Jersey 10", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}